<div class="galery">
    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>

    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>

    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>

    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>

    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>

    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>

    <div class="gridItem">
        <div class="photoActions">
            <nb-checkbox status="basic"></nb-checkbox>
            <nb-icon status="'basic'" icon="eye"></nb-icon>
        </div>
    </div>
</div>