.galery {
  //   margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gridItem {
  border: 1px solid #efefef;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #fdfdfd;
  width: calc((100% / 4) - 20px);
  min-height: 210px;
  background-image: url("http://santamonica.rec.br/wp-content/uploads/2018/03/como-escolher-salao-de-festas-casamento.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.internalGrid {
  // cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}

.gridItem:hover {
  transform: scale(1);
  transition: 0.2s;
  animation: expansive 0.5s forwards normal;

  .photoActions {
    display: flex;
    width: 100%;
    animation: slide 0.1s forwards normal;

    // nb-icon{
    //     animation: displayIcon 0.5s 0 2s forwards normal;
    // }
  }
}

.photoActions {
  display: none;
  flex-direction: row;
  height: 0%;
  min-width: 100%;
  background: #6c89b2cc !important;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 4px 4px;
  bottom: 0;
  position: absolute;
//   padding: 5px;

//   nb-checkbox{
//     margin-bottom: 12px;
//   }

  nb-icon {
    // display: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 0 !important;
  }
}

::ng-deep{
    span.custom-checkbox {
        // background-color: rgb(255 255 255) !important;
        background-color: #647fbc !important;
        border-color: #9fb6e5 !important;
    }
}

@keyframes expansive {
  from {
    background-size: 100%;
  }
  to {
    background-size: 110%;
  }
}

@keyframes slide {
  from {
    height: 10%;
  }
  to {
    height: 30%;
  }
}


// @keyframes displayIcon {
//     from {
//         display: none;
//     }
//     to {
//    display: block;

//     }
//   }
